<app-parent></app-parent>
<div>
  <h3>One way Binding - Interpolation Binding</h3>
  <strong>{{firstName}}</strong>
  <strong>{{lastName}}</strong>
</div>
<div>
  <h3>one Way binding - Property binding </h3>
  <div>
  <span [innerHTML]='firstName'></span>                
  </div>
</div>
<div>
  <h3>one way binding -Event Binding</h3>
  <button (click)="myFunction()">Show alert</button>
</div>
<div>
  <h3>Two binding</h3>
  <input [(ngModel)]="name" placeholder="Enter your name">
    <p>Your name is: {{ name }}</p>
</div>